---
---

$brand-primary: #41b7d8;
$font-size-base: 16px;
$gray-lighter: #DADADA !default; // #eee

//
// IMPORTS
//

@import "bootstrap";

/**************/
/* BASE STYLES */
/**************/

body {
  background-color: #f9f9f9;
  padding-top: 70px;
  padding-bottom: 30px;
}

.navbar-default {
  background-color: white;
}

/*
* Fix the logo height
*/
.navbar-brand {
  float: left;
  padding: 6.5px 15px;

  img {
    width: auto;
    height: 36px;
  }

}

/*
* Index post loop styling
*/
.posts {
  h2 {

    a {
      color: $text-color;

        &:hover {
          text-decoration: none;
        }
    }
  }
}
.post {
  padding-bottom: 40px;
  margin-bottom: 30px;
  border-bottom: 5px solid #27B898;
}